<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ch.android.cssdk">

    <application>
        <activity android:name=".mvp.ui.activity.CSActivity"></activity>
        <service android:name="com.ch.android.cssdk.service.MyTestService"/>
    </application>

</manifest>