<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrz.push" >
    <!--&lt;!&ndash; OPPO辅助 SDK &ndash;&gt;-->
    <!--<uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>-->

    <application>

        <service
            android:name=".DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name=".DemoIntentService"/>


        <!-- OPPO辅助 SDK -->
        <meta-data
            android:name="OPPOPUSH_APPKEY"
            android:value="OP_${OPPO_APP_KEY}" />
        <meta-data
            android:name="OPPOPUSH_APPSECRET"
            android:value="OP_${OPPO_APP_SECRET}" />
        <service android:name="com.igexin.sdk.OppoPushService"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>

    </application>



</manifest>
